 <div class="row">
 	<div class="span12">
 		<h2>
 			<%= t('players.starters') %>
 		</h2>
 	</div>
 </div>
 <%= render :partial => 'team_training',
 :locals => {:players =>club.players.starter} %>
 <div class="row">
 	<div class="span12">
 		<h2><%= t('players.suppliers') %></h2>
 	</div>
 </div>
 <%= render :partial => 'team_training', :locals =>
 {:players => club.players.supplier} %>
