<h1><%= @club.name %></h1>
<%= cash(@club.cash) %>
<div class="team">
  <% if League.open_teams? and @club == @club_user %>
  <%= render :partial => 'team_replace', :locals => {:team => @club} %>
  <% end %>
  <% if League.closed_teams? or @club != @club_user%>
  <%= render :partial => 'team', :locals => {:team => @club} %>
  <% end %>
</div>