<div class="row">
  <div class="span8"><h1><%= @club.name %></h1></div>
  <div class="span4 pull-right cash"><h1><%= cash(@club.cash) %></h1></div>
</div>
<div class="trainings">
  <%= render :partial => 'trainings', :locals => {:club => @club}%>
</div>