<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a SFO, <%= @user.login %></h1>
    <p>
      Te has registrado en SFO,
      Tu nombre de usuario es: <%= @user.login %>.<br/>
    </p>
    <p>
      Para loguearte en el sitio haz click aquí: <%= @url %>.
    </p>
    <p>¡Gracias por unirte y esperamos que disfrutes de un gran día!</p>
  </body>
</html>