<div class="header-sections">
	<h1><%= t('.header')  %></h1>
</div>
<div class="no-club-users">
	<%= render :partial => "users", :locals => {:users => @users, :search_path => no_club_users_path} %>
</div>