<ul class="match-starters">
  <% players.each do |player| %>
  <li>
    <div class="width-position"><span class="badge badge"><%=h player.tactic_position %></span></div>
    <div class="full-name"><span class="badge badge-inverse"><%=h player.complete_name %></span></div>
  </li>
  <% end %>
</ul>