<ul class="match-starters">
  <% players.each do |player| %>
  <li>
    <span class="badge badge"><%=h player.tactic_position %></span>
    <span class="badge badge-inverse pull-right"><%=h player.complete_name %></span>
  </li>
  <% end %>
</ul>